/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
  font-family: 'Source Sans 3';
  src: url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
  }

:root {
  --mainAccentColor: rgba(77, 104, 61, 1);
  --secondaryAccentColor: rgba(149, 193, 31, 1);
  --halfOpacity: rgba(0, 0, 0, 0.1);
  --tertiaryAccentColor: rgb(224, 224, 224);
  --hoverColor: rgba(149, 193, 31, 0.2);
  --buttonActiveBorderColor: #00aaafff;
  --buttonHoverColor: rgba(0, 170, 175, 0.2);
  --overallBackgroundLight: #fff;
  --lightText: rgb(197, 197, 197);
}

/* @property --nav-height {
  syntax: "<number>";
  initial-value: 70;
  inherits: true;
} */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  background-color: rgba(0, 170, 175, 0.01);
  height: 100vh;
  overflow: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/*
 * Clickable template
 *
 * Create a class to have all clickable button the same format
 */

.clickable {
  background-color: inherit;
  /* filter: grayscale(100); */
  border: 0.15em solid var(--lightText);
  border-radius: 0.5em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  align-content: center;
}

.clickable:hover {
  background-color: var(--hoverColor);
}

@media (max-width: 960px) {
  .clickable:hover {
    background-color: currentColor;
  }
}

.swiper-slide-thumb-active, .active {
  border-color: var(--secondaryAccentColor) !important;
  background-color: var(--hoverColor) !important;
  font-weight: bold;
}

/* ==========================================================================
   MEDIA QUERIES OVERALL SETTINGS
   ========================================================================== */

@media (max-width: 960px) {
  .mediaquery-small {
    display: block;
  }
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: var(--overallBackgroundLight) !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Icons */
.githubLogo {
  display: inline-block;
  width: 16px;
  height: 16px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M8 0c4.42 0 8 3.58 8 8a8.01 8.01 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38c0-.27.01-1.13.01-2.2c0-.75-.25-1.23-.54-1.48c1.78-.2 3.65-.88 3.65-3.95c0-.88-.31-1.59-.82-2.15c.08-.2.36-1.02-.08-2.12c0 0-.67-.22-2.2.82c-.64-.18-1.32-.27-2-.27s-1.36.09-2 .27c-1.53-1.03-2.2-.82-2.2-.82c-.44 1.1-.16 1.92-.08 2.12c-.51.56-.82 1.28-.82 2.15c0 3.06 1.86 3.75 3.64 3.95c-.23.2-.44.55-.51 1.07c-.46.21-1.61.55-2.33-.66c-.15-.24-.6-.83-1.23-.82c-.67.01-.27.38.01.53c.34.19.73.9.82 1.13c.16.45.68 1.31 2.69.94c0 .67.01 1.3.01 1.49c0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.arrowDown {
  display: inline-block;
  rotate: 180deg;
  width: 2em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='M8.2 751.4c0 8.6 3.4 17.401 10 24.001c13.2 13.2 34.8 13.2 48 0l451.8-451.8l445.2 445.2c13.2 13.2 34.8 13.2 48 0s13.2-34.8 0-48L542 251.401c-13.2-13.2-34.8-13.2-48 0l-475.8 475.8c-6.8 6.8-10 15.4-10 24.2z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.arrowUp {
  display: inline-block;
  width: 2em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='M8.2 751.4c0 8.6 3.4 17.401 10 24.001c13.2 13.2 34.8 13.2 48 0l451.8-451.8l445.2 445.2c13.2 13.2 34.8 13.2 48 0s13.2-34.8 0-48L542 251.401c-13.2-13.2-34.8-13.2-48 0l-475.8 475.8c-6.8 6.8-10 15.4-10 24.2z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ri--checkbox-circle-line {
  display: inline-block;
  width: 2em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 12a8 8 0 1 1 16 0a8 8 0 0 1-16 0m8-10C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2m5.457 7.457l-1.414-1.414L11 13.086l-2.793-2.793l-1.414 1.414L11 15.914z'/%3E%3C/svg%3E");
  background-color: currentColor;
  color: var(--mainAccentColor);
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ri--checkbox-blank-circle-line {
  display: inline-block;
  width: 2em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16'/%3E%3C/svg%3E");
  background-color: currentColor;
  color: var(--mainAccentColor);
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.stash--burger-classic {
  color: var(--tertiaryAccentColor);
  display: inline-block;
  width: 2em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 6a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1m0 6a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1m1 5a1 1 0 1 0 0 2h14a1 1 0 1 0 0-2z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.logoWithText {
  color: inherit;
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  align-items: center;
  justify-content: center;
}

/* Tab Container */
.TabContainer {
  display: flex;
  flex-direction: row;
  background-color: var(--mainAccentColor);
  margin: 0;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 0px 3px 27px 5px rgba(0, 0, 0, 0.10);
}

.TabContainer > * {
  flex-grow: 1;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  color: var(--tertiaryAccentColor);
  transition: all .3s ease-in-out;
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  border-left: 0.2em solid var(--halfOpacity);
  border-right: 0.2em solid var(--halfOpacity);
  padding: 1em 2em;
}

.TabContainer > *:first-child {
  border-left: none;
}

.TabContainer > *:last-child {
  border-right: none;
}

.TabContainer > *:hover {
  background-color: var(--hoverColor);
}

/* Lockscreen */

.lockscreen {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 9999;
}

.lockscreen form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.error { color: red; margin-bottom: 1rem; }

/* Tab Links */

.tablinks {
  background-color: transparent;
  border-radius: 2em;
  padding: 0.5em 1em;
  align-content: center;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  color: inherit;
  border: 0.15em solid rgba(0, 170, 175, 0);
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.tablinks:is(:hover, :focus) {
  transition: 0.3s ease-in-out;
  background-color: var(--hoverColor);
}

/* Wrappers */

#layoutWrapper {
  display: grid;
  grid-template-rows: 7vh 93vh;
  height: 100vh;
  width: 100vw;
}

#wrapper {
  height: 100%;
  padding-top: 1em;
  align-self: center;
  width: inherit;
  /* ChangingScrollbar Properties */
  overflow-y: scroll; /* Show vertical scrollbar */
  scroll-snap-type: y mandatory;
  scrollbar-width: auto;
  scrollbar-color: var(--mainAccentColor) var(--overallBackgroundLight);
}

#content {
  display: block;
  width: 60%;
  margin: auto;
}

/* Topnav bar */

#topnav {
  width: inherit;
  display: block;
  align-items: center;
  background-color: var(--mainAccentColor);
  box-shadow: 0px 3px 27px 5px rgba(0, 0, 0, 0.4);
  color: var(--tertiaryAccentColor);
  margin: 0;
  z-index: 1000;
}

#topnav-top {
  height: 100%;
  width: inherit;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: var(--tertiaryAccentColor);
}

#topnav-top img {
  height: 24px;
  margin: 0 !important;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
  font-size: 17px;
  justify-content: center;
}

.topnav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.topnav-center {
  display: flex;
  gap: 3em;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.topnav-text {
  display: none;
  text-align: center;
}

.topnav-right {
  display: flex;
  align-items: inherit;
  justify-content: flex-end;
  align-items: center;
}

.topnav-burger {
  display: none;
}

#topnav-link-box {
  display: none;
  box-shadow: 0px 3px 27px 5px rgba(0, 0, 0, 0.4);
}

.topnav-link-box-link {
  border-top: 0.15em solid var(--secondaryAccentColor);
  border-radius: 0;
}

.topnav-link-box-link:last-child {
  border-bottom: 0.15em solid var(--secondaryAccentColor);
}

/* Mobile override */
@media (max-width: 960px) {
  .topnav-text {
    display: inline;
  }
  .topnav-link {
    display: none;
  }
  #topnav-link-box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: relative;
    width: 100%;
    background-color: var(--mainAccentColor);
  }
  .topnav-burger {
    display: inline;
  }
}

/* Index Slides */

.swiper-container {
  width: inherit;
  height: 100%;
}

.swiper-wrapper {
  height: inherit;
}

.index-slide {
  text-align: center;
  background: var(--overallBackgroundLight);
  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-content {
  overflow: auto;
  flex-grow: 1;
  width: 60%;
}

@media  (max-width: 960px) {
  .swiper-content {
    width: 80%;
  }
}

.swiper-content > h1 {
  text-align: center;
}

.swiper-content-flex {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.swiper-content-grid {
  overflow: auto;
  display: grid;
  grid-template-rows: 0.5fr 1fr 2fr 3fr;
  row-gap: 1em;
  align-items: center;
}

.swiper-content-grid > * {
  margin: 0;
}

.swiper-content > p {
  text-align: justify;
}

.swiper-button {
  flex-shrink: 0;
  position: relative;
  color: var(--mainAccentColor);
  opacity: 55%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: normal;
  font-weight: bold;
  width: fit-content;
}

.swiper-button > * {
  flex-grow: 1;
}

.swiper-button > .arrowDown,
.swiper-button > .arrowUp {
  min-height: 0;
  font-size: 2em;
}

.swiper-button:hover {
  opacity: 100%;
  transform: scale(1.2);
}

.swiper-prev-button {
  transform-origin: top;
}

.swiper-next-button {
  transform-origin: bottom;
}

.swiper-pagination-bullet {
  width: 0.5em;
  height: 0.5em;
  transition: all 0.2s ease-in-out;
}

.swiper-pagination-bullet-active {
  background-color: var(--mainAccentColor);
}

/* Index Page */
#index-swiper-slide1-logo {
  min-width: 30%;
}

#index-swiper-slide1-text {
  color: var(--mainAccentColor);
  text-align: center;
  max-height: 30%;
  font-weight: bold;
  font-size: 2.5em;
}

.long-text {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
  text-align: justify;
}

#photosynthesis-scheme {
  width: 100%;
}

#photosynthesis-scheme > a {
  transition: 0.3s ease-in-out;
}

#photosynthesis-scheme:is(:hover, :focus) > a {
  filter: grayscale(1);
}

#photosynthesis-scheme > a:is(:hover, :focus) {
  filter: grayscale(0);
}

@media screen and (max-width: 960px) {
  #index-swiper-slide1-text {
    font-size: 2em;
  }

  .index-tab-container {
    flex-direction: column;
  }

  .index-tab-container > * {
    border-top: 0.2em solid var(--halfOpacity);;
    border-bottom: 0.2em solid var(--halfOpacity);;
    border-left: none;
    border-right: none;
    padding: 1em 2em;
  }
  
  .index-tab-container > *:first-child {
    border-top: none;
  }
  
  .index-tab-container > *:last-child {
    border-bottom: none;
  }
  
  .index-tab-container > *:hover {
    background-color: var(--hoverColor);
  }
}

/* Model Selection */
#model-selector {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1em;
}

.model-row, .badge {
  position: relative;
  border-radius: 8px;
  padding: 0.75em;
  display: grid;
  gap: 0 0.5em;
  grid-template-columns: 1fr 1.5fr;
  transition-property: background-color, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover, &:focus {
    background-color: #e6f6f4ff;
    transform: scale(1.1);
  }
}

.model-row h1 {
  text-align: center;
  align-self: center;
}

.model-row img {
  width: 100%;
}

.linkSpanner {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.search-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5em;
  font-size: 1em;
  background-color: white;
  padding: 0.5em;
}

.search-icon {
  height: 1.5em;
}

#searchModel {
  border: 0;
  font-size: inherit;
  flex-grow: 1;
}

#bars {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  gap: 1em;
  margin-bottom: 12px;
}

.typeInBar, .tagsButton, .tagsBox, .tag {
  font-family: inherit;
  font-size: inherit;
  border-radius: 2em;
}

.typeInBar {
  background-image: url(searchicon.svg);
  background-size: 1.5em;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  flex-grow: 2;
  border: 0.15em solid transparent;
  cursor: text;
}

.tagsButton {
  padding: 12px 20px;
}

.tagsBox {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: hidden;
  padding: 1em 2em;
  box-shadow: 0px 3px 27px 5px rgba(0, 0, 0, 0.10);
  transition-property: transform opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: scaleY(1);
}

.tagsCategory {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.tagsCategory h3 {
  height: fit-content;
  margin: 0;
}

.tagsRow {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 0.75em;
  text-align: center;
  height: fit-content;
}

.tag {
  padding: 0.5em 0.75em;
  border-radius: 2em;
  min-width: 12.5%;
  width: fit-content;
  height: fit-content;
  
}

/* Copy Block */
.copyBlock {
  display: flex;
  flex-direction: column;
  background-color: #d4d4dd;
  padding: 0.4em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

.copyButton {
  background-color: transparent;
  border-color: rgb(0,0,0, 0.1);
  border-radius: 1em;
  margin-left: auto;
  font-size: large;
  font-weight: bold;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  padding: 0.5em;
}

.copyButton:hover {
  background-color: var(--buttonHoverColor);
}

.copyButton.active {
  background-color: var(--buttonHoverColor);
}

.copyButton > span {
  opacity: 1;
  transition: 0.3s;
}

/* Modals */
.modal {
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: transparent;
  margin: 15% auto; /* 15% from the top and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  animation: fromTop 1s ease-in-out 0s 1 normal forwards;
}

@keyframes fromTop {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.modalHeader {
  z-index: 1;
  display: flex;
  width: auto max-content;
  gap: 1em;
  border-radius: 0.5em 0.5em 0 0;
  background-color: var(--mainAccentColor);
  color: var(--tertiaryAccentColor);
  box-shadow: 0px 3px 27px 5px rgba(0, 0, 0, 0.4);
}

.modalHeader > * {
  flex: 1;
  margin: 0;
  align-self: center;
  padding: 0.5em 0.5em ;
}

.modalHeader > :last-child {
  margin-left: auto;
  text-align: end;
}

.close {
  font-size: xx-large;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.close:hover {
  color: var(--secondaryAccentColor);
}

.modalBody {
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  background-color: var(--overallBackgroundLight);
  border-radius: 0 0 0.5em 0.5em;
}

/* Citation Modal */
#citeModal .modalContent {
  width: 40%;
}

#citeModal p {
  text-align: justify;
}

/* Model Pages */

#compareModalContent {
  margin-top: 10%;
}

#compareModalHeadingThisModel {
  flex: 1.5;
  text-align: center;
}

#compareModalSelect {
  height: auto;
  flex: 1.5;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: var(--tertiaryAccentColor);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#compareModalSelect:hover {
  background-color: var(--hoverColor);
}

#compareModalSelect > option {
  color: black;
  cursor: pointer;
}

.compareModalBodyCompare {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}


.compareInformation {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

/* Model Header */
#model-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.grid-right {
  justify-self: self-end;
}

/* Swiper */

.swiper-container-models {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide-models {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.gallery-top {
  position: relative;
  height: 80%;
  width: 100%;
}

.gallery-top .swiper-wrapper {
  transition: none !important;
}

.gallery-top .swiper-slide {
  margin-top: 50px;
}

.gallery-top .swiper-button-next,
.gallery-top .swiper-button-prev {
  top: 30px;              /* adjust as needed */
  transform: none;        /* removes the default vertical centering */
  position: absolute;
  z-index: 10;
  pointer-events: auto;
}

.gallery-top .swiper-button-prev {
  left: 10px;             /* adjust horizontally */
}

.gallery-top .swiper-button-next {
  right: 10px;
}

.gallery-thumbs {
  height: max-content;
  padding: 10px 0;
}

.gallery-thumbs .swiper-wrapper {
  gap: 1em;
}

.gallery-thumbs .swiper-slide {
  flex-grow: 1;
  display: inline-block;
  width: auto !important;
  height: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  opacity: 0.4;
  cursor: pointer;
  margin: 0 !important;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

/* Model Summary Block */
#modelSummaryBlock {
  display: grid;
  margin-bottom: 1em;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 0 2em;
  justify-content: center;
}

#modelSummaryBlock .modelScheme {
  z-index: 10;
  transition: all .3s ease-in-out;
  grid-row: span 3;
}

#modelSummaryBlock .modelScheme:hover {
  transition: all .3s ease-in-out;
  opacity: 1;
  transform: scale(3);
  transform-origin: left center;
}

.modelScheme {
  width: 100%;
  text-align: center;
  align-self: center;
}

#modelBlockHead {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#modelBlockHead > * {
  flex-grow: 1;
}

#modelBlockHead :last-child {
  flex-grow: 0;
}

#modelButtonBar > * {
  flex-basis: 0;
  padding: 0.5em 1em;
}

.modelButtonBar > * {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.modelButtonBar > a, 
.modelButtonBar > button {
  padding: 0 0.5em;
  text-decoration: none; /* Removes the default underline */
  border-radius: 5px; /* Rounds the corners (optional) */
  width: fit-content;
  vertical-align: middle;
}

.modelButtonBar > a {
  display: flex;
  flex-direction: row;
  color: inherit;
}

.modelButtonBar > a > * {
  flex-grow: 1;
}

.discreetText {
  color: var(--lightText);
  vertical-align: middle;
  text-decoration: none;
}

.modelText {
  margin: 0 0 0 0;
  padding: 0 0.5em 0 0;
  height: fit-content;
  text-align: justify;
}

.modelText h3 {
  margin-top: 0.5em;
}

.modelTabContent {
  padding-top: 1em;
}

.modelTabContent table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
}

.modelTabContent thead {
  border-bottom: 1px solid #ddd;
  text-align: justify;
}

.modelTabContent tbody td {
  padding: 0.2em 0.4em;
  max-width: 200px;  
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.modelTabContent tbody tr:hover {
  background-color: var(--buttonHoverColor);
}

/* Model Info Figures */

#modelAttrFigures {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modelAttrFiguresContainerHead {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  border: 0.2em solid var(--tertiaryAccentColor);
  border-radius: 1em;
}

.modelAttrFiguresContainerHead > h3 {
  flex-grow: 1;
  text-align: center;
}

.modelAttrFiguresContainerContent {
  text-align: center;
  transition: all .3s ease-in-out;
}

.modelAttrFiguresContainerContent > img {
  max-width: 100%;
  max-height: 20em;
  margin-left: auto;
  margin-right: auto;
}

.modelAttrFiguresContainerContent > p {
  text-align: justify;
}

/* Todos */

.progress-bar {
  display: flex;
  width: 100%;
  gap: 1em;
  align-items: center;
}

.progress-bar > progress {
  flex-grow: 1;
  -webkit-appearance: none;
}

.progress-bar > ::-webkit-progress-bar, ::-webkit-progress-value {
  border-radius: 10em;
}

.progress-bar > ::-webkit-progress-bar {
  background-color: var(--lightText);
}

.todo-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.todo-section :first-child {
  grid-column: span 2;
}

.todo {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

