[project]
authors = ["Elouen_Corvest <elouen.corvest@rwth-aachen.de>"]
channels = ["conda-forge"]
description = "Add a short description here"
name = "models"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[dependencies]
python = ">=3.13.3,<3.14"
assimulo = ">=3.7.0,<4"

[pypi-dependencies]
GreenSlothUtils = { path = "../../GreenSlothUtils/", editable = true }
mdutils = ">=1.6.0, <2"
ipykernel = ">=6.29.5, <7"
ruff = ">=0.11.13, <0.12"
modelbase2 = ">=0.7.0, <0.8"
torch = ">=2.7.1, <3"
mxlbricks = ">=0.5.0"
cmasher = ">=1.9.2, <2"
svgutils = ">=0.3.4, <0.4"
lxml = ">=6.0.2, <7"
types-lxml = ">=2025.8.25, <2026"
neonutilities = ">=1.1.0, <2"
icoscp-core = ">=0.3.11, <0.4"
findpeaks = ">=2.7.5, <3"
lmfit = ">=1.3.4, <2"
netcdf4 = ">=1.7.3, <2"

[tool.bandit]
skips = ["B101", "B301", "B403", "B404", "B603", "B607"]

[tool.mypy]
disallow_untyped_defs = true
exclude = "tests/*.py"
ignore_missing_imports = true
python_version = "3.12"
warn_return_any = true
warn_unused_configs = true

[tool.pyright]
reportMissingModuleSource = "none"

[tool.ruff]
indent-width = 4
line-length = 79

[tool.ruff.lint]
select = ["ALL"]
fixable = ["ALL"]
ignore = [
  "ANN401",  # any
  "C901",    # too complex
  "COM812",  # missing trailing comma  # "D", # all of documenetation
  "D203",    # blank line before docstring
  "D213",    # multi-line summary first line
  "D401",    # first line should be in imperative mood
  "E501",    # line-too-long
  "ERA001",  # commented-out code
  "FIX001",  # line contains FIXME
  "ISC001",  # single line implicit string concat
  "N806",    # non-lowercase variable
  "PGH003",  # specific rule type ignore
  "S110",    # try-except-pass
  "S301",    # pickle usage
  "TD001",   # invalid todo tag
  "TD002",   # missing todo author
  "TD003",   # missing todo link
  "TD004",   # missing todo version
  "TD005",   # missing todo date
  "TRY003",  # raise vanilla args
  "PLR0912", # too many branches
  "PLR0911", # too many statements
  "PLR0913", # max num of arguments
  "PLR0915", # too many lines
  "PD010",   # pivot table
  "PT011",   # pytest.raises is too broad
  "RUF022",  # unsorted all
]

[tool.ruff.lint.per-file-ignores]
"*.ipynb" = [
  "T201", # print statements
  "D",    # all of documentation
]
